body {
	margin: 0;
	padding: 0;
}

#container {
	padding: 0;
}

#masthead {
	width: auto;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#mastheadright {
	float:right;
	margin-top:0px;
}

#mastheadleft {
	float:left;
	margin-top:0px;
}

#masterheadcenter {
        float:left;
	margin-left:0px;
        margin-top:15px;
        font-size:17px;
        font-style:italic;
        font-variant:small-caps;
        color:#FFFFFF;
        font-weight:bold;
}

#navigation {
	width: auto;
	margin: 0;
	padding: 0;
	clear: both;
}

#subnavigation {
	width: auto;
	margin: 0;
	padding: 0;
	clear: both;
}

#column_l {
	position: relative;
	float: left;
}

#column_r {
	float: left;
}

.float_right {
	float:right;
}

li.selected {
        background-color:#FAFAFA;
        color:black;
}

label.selected {
        color:black;
}

li.notselected {
        
}

label.notselected{
    
}

label.menu{
    color: #FFFFFF;
}

#copyright{
    margin-left:50px;
    text-align:justify;
    margin-right:50px;
}