@charset "utf-8";
/* CSS Document */

html {
  height:100%;
  margin:0 auto;
  padding:0px;
}

 p, h1, h2, h3, h4, h5, h6 {
	list-style-image:none;
	list-style-type:none;
	margin:0;
	padding:0;
}

ul{margin:0px;
list-style:none;
padding:0px;
}

li{
margin:0px;
padding:0px;
}

form {
  margin: 0;
  padding: 0;
}
body {
	font-family: Arial,Helvetica,sans-serif;
	margin:0px auto;
	padding:0px;
	font-size:12px;
	color:#333;
	background:url(../images/bg.gif) repeat-x;
}



a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
}



a:hover {
	text-decoration: underline;
	font-weight: normal;
}



.logo{
}
.top_right{
padding-right:20px;
padding-top:25px;
float:right;


float:right;}
.date{ 
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:9px;
	color:#9e9e9e;
	padding-top:20px;
	}

.p_top15{ padding-top:15px;}




/*menu*/
	.menu {
	float:left;
	width:720px;
	font-weight:bold;
	color:#414141;
	margin-left:20px;
	
}
.menu ul {

}
.menu li {
	float:left;
	margin-right:10px;
	padding-top:11px;
	padding-bottom:9px;
	font-size:18px;
	font-weight:bold;
	color:#414141;
	text-decoration:none;
	
}
.menu_li {
	color:#414141;
	text-decoration:none;
	background:url(../images/bar.gif) no-repeat left center;
	padding-left:20px;
}
.menu_li a:link {
	color:#414141;
	text-decoration:none;
}
.menu_li a:visited {
	color:#414141;
	text-decoration:none;
}
.menu_li a:hover {
	color:#414141;
	text-decoration:none;
}
.menu_li_red {
	color:#c82917;
	text-decoration:none;
}
.menu_li_red a:link {
	color:#c82917;
	text-decoration:none;
}
.menu_li_red a:visited {
	color:#c82917;
	text-decoration:none;
}
.menu_li_red a:hover {
	color:#c82917;
	text-decoration:none;
}
/*menu*/


/*conteants*/

.conteants{
padding-top:18px;
padding-bottom:15px;
}
.read{
font-family: Tahoma, Arial, Helvetica, sans-serif;
color:#8f2c26;
font-size:10px;
font-weight:bold;
padding-right:30px;
}
.read a{
color:#8f2c26;
font-weight:bold;
}
.read a:hover{
color:#8f2c26;
font-weight:bold;
}
.tite_1{
font-family:Arial, Helvetica, sans-serif;
color:#010101;
font-size:13px;
font-weight:bold;
padding-bottom:5px;
padding-right:10px;
line-height:11.5px;
}
.txt_gray{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:11px;
font-weight:bold;
padding-left:8px;
padding-right:8px;
padding-bottom:10px;
line-height:11.5px;
}

.txt_gray_new{
font-family:Arial, Helvetica, sans-serif;
color:#666666;
font-size:11px;
font-weight:bold;
padding-right:8px;
padding-bottom:3px;
line-height:11.5px;
}


.tite_1{
font-family:Arial, Helvetica, sans-serif;
color:#010101;
font-size:12px;
font-weight:bold;
text-decoration:none;
}
.tite_1 a{
font-family:Arial, Helvetica, sans-serif;
color:#010101;
font-size:12px;
font-weight:bold;
line-height:15px;

text-decoration:none;}
.tite_1 a:hover{
font-family:Arial, Helvetica, sans-serif;
color:#8f2c26;
font-size:12px;
font-weight:bold;

text-decoration:none;}



.new_blog{
font-family:Arial, Helvetica, sans-serif;
color:#010101;
font-size:17px;
font-weight:bold;
text-decoration:none;
padding-right:8px;
}
.dot{ color:#ca1002;}
/*conteants*/


.addrees_Red{
color:#8f2c26;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
background:url(../images/address_line.gif) repeat-x;
padding-top:12px;
}
.about{font-weight:bold;
	}
.about a{color:#8f2c26;
font-weight:bold;}
.about a:hover{color:#8f2c26;
font-weight:bold;}

.foot_address{
}

.foot{ background:url(../images/bg_bottum.gif) repeat-x;
	   padding-top:13px;}
.copy{ color:#FFFFFF;
	 }

.deo {
	color:#a7a7a7;
	font-size:10px;
}
.deo a {
	color:#a7a7a7;
	text-decoration:none;
}
.deo a:visited {
	color:#a7a7a7;
	text-decoration:none;
}
.deo a:hover {
	color:#a7a7a7;
}

