body { margin:0; padding:0; font-size:11px; line-height:16px; font-family: Arial, Tahoma;}
a { color:#fe5800;}
a:hover { text-decoration:none;}
.orange { color:#fe5800;}


#header 				{background: url(../images/header_bckg.gif) repeat-x ; height:50px;  }
#logo 					{width:1024px; margin:0 auto; padding:10px 0 0 20px; }
#logo a					{color:#FFFFFF; text-decoration:none; font-weight:bold; height:12px; font-size:20px; /*text-transform:uppercase;*/}
#logo a:hover 			{ }
#head_image 			{ height:150px; background:url(../images/head_bckg.jpg) no-repeat #fe5d00; padding:30px 0 30px 50px; line-height:24px;}
#slogan 				{ color:#fff; font-family: "Arial Narrow", Arial, Tahoma; font-size:21px; text-transform:uppercase; }
#under_slogan_text 		{ color:#ffff00; font-size:10px; line-height:12px; padding-top:15px;}


#module 					{color:#fff; text-align:center; margin-top:22px;}
#module ul					{width:1024px; margin:0 auto;list-style:none; padding:0; text-align:left;}
#module ul li				{display:inline}
#module ul a 				{display:block; float:left; font-weight:bold; font-size:13px; text-decoration:none; color:#fff; background:url(../images/menu_enactive.gif) no-repeat bottom center; padding:8px 10px; width:118px; text-align:center; /*text-transform:uppercase;*/}
#module ul a:hover 			{background:url(../images/menu_over.gif) no-repeat bottom center; color:#232323;}
#module ul a.active 		{background:url(../images/menu_active.gif) no-repeat bottom center; color:#232323;}
#module ul a.active:hover 	{background:url(../images/menu_active.gif) no-repeat bottom center; color:#232323;}

#main 		{ width:100%; margin:3px 0 20px 0; float:left;}
#menu 		{width:1024px; margin:0 auto; padding:0;}
#content 	{width:1024px; margin:0 auto; padding:0;}
#content h1 { margin:20px 0 0 0; /*text-transform:uppercase;*/ font-size:20px; color:#000; font-weight:normal;}

#banner1	{width:100%; margin:5px; padding:10px; background:url(../images/sidebar_bckg.gif) repeat-x; color:#6f6e6e; }
#banner1 h2 {color:#fe5800; margin:0 0 5px 0; font-size:14px; font-weight:bold; text-transform:uppercase; }
#banner2	{width:100%; margin:5px; padding:10px; background:url(../images/sidebar_bckg.gif) repeat-x; color:#6f6e6e; }
#banner2 h2 {color:#fe5800; margin:0 0 5px 0; font-size:14px; font-weight:bold; text-transform:uppercase; }

#filters	{width:100%; margin:5px; padding:10px; background:url(../images/sidebar_bckg.gif) repeat-x; color:#6f6e6e; }

/*
 ------- -----------------------
 |     | |                     |
 |     | |                     |
 |left | |     right area	   |
 |area | |					   |
 |     | |                     |
 |     | |                     | 
 ------- -----------------------
*/

#leftarea 		{float:left; width:210px; margin-left:5px; padding:10px; background:url(../images/sidebar_bckg.gif) repeat-x;  color:#6f6e6e; }
#leftarea h2 	{color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#leftarea .title1{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px; color:#FFFFFF;}
#leftarea .space1{ padding:0px 5px 0px 5px;}

#rightarea 		{margin:0 -25px 20px 240px; padding:10px; background:url(../images/sidebar_bckg.gif) repeat-x; color:#6f6e6e;}
#rightarea h2 	{color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#rightarea .title1{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px; color:#FFFFFF;}
#rightarea .space1{ padding:0px 5px 0px 5px;}

/* border of tr */
#rightarea .list_row_border table td { border-bottom:1px dotted #CCCCCC;}
#rightarea .info_row_border table td { border-bottom:1px dotted #CCCCCC;}

/* head text style*/
#rightarea .rowhead { background-color:#FAFAFA; text-align:center; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fe5800; font-size:12px;}

/* odd row background color*/
#rightarea .rowodd { background-color:#FDFDFD;}
/* even row background color*/
#rightarea .roweven { background-color:#FAFAFA;}
/* hightlight row background color */
#rightarea .rowhightlight { background-color:#FFFFFF;}

/* border of td */
#rightarea .data_td_border {border-right:1px dotted #CCCCCC;}
/* text style 1 */
#rightarea .tdleft { padding-left:6px; text-align:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333333;}
/* text style 2 */
#rightarea .tdcenter { text-align:center; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333333;}

/* label style 1 */
#rightarea .labelleft 	{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999; font-weight:bold; padding-left:6px; text-align:left; text-transform:uppercase;}
/* label style 2 */
#rightarea .labelcenter	{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999; font-weight:bold; text-align:center; text-transform:uppercase;}
/* label style 3 */
#rightarea .labelright 	{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999; font-weight:bold; padding-right:6px; text-align:right; text-transform:uppercase;}

/* border of td */
#rightarea .labelcol {border-right:1px dotted #CCCCCC;}

#rightarea .labelbg	{background-color:#FBFBFB;}


/* User */

#rightareauser 		{float:left; width:320px; padding:5px; background:url(../images/sidebar_bckg.gif) repeat-x; color:#6f6e6e;}
#rightareauser h2 	{color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#rightareauser .title1{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px; color:#FFFFFF;}
#rightareauser .space1{ padding:0px 5px 0px 5px;}

#leftareauser 		{float:left; width:680px; padding:5px; background:url(../images/sidebar_bckg.gif) repeat-x;  color:#6f6e6e; }
#leftareauser h2 	{color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#leftareauser .title1{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px; color:#FFFFFF;}
#leftareauser .space1{ padding:0px 5px 0px 5px;}

/* border of tr */
#leftareauser .list_row_border table td { border-bottom:1px dotted #CCCCCC;}
#leftareauser .info_row_border table td { border-bottom:1px dotted #CCCCCC;}

/* head text style*/
#leftareauser .rowhead { background-color:#FAFAFA; text-align:center; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fe5800; font-size:12px;}

/* odd row background color*/
#leftareauser .rowodd { background-color:#FDFDFD;}
/* even row background color*/
#leftareauser .roweven { background-color:#FAFAFA;}
/* hightlight row background color */
#leftareauser .rowhightlight { background-color:#FFFFFF;}

/* border of td */
#leftareauser .data_td_border {border-right:1px dotted #CCCCCC;}
/* text style 1 */
#leftareauser .tdleft { padding-left:6px; text-align:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333333;}
/* text style 2 */
#leftareauser .tdcenter { text-align:center; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333333;}

/* label style 1 */
#leftareauser .labelleft 	{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999; font-weight:bold; padding-left:6px; text-align:left; text-transform:uppercase;}
/* label style 2 */
#leftareauser .labelcenter	{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999; font-weight:bold; text-align:center; text-transform:uppercase;}
/* label style 3 */
#leftareauser .labelright 	{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999; font-weight:bold; padding-right:6px; text-align:right; text-transform:uppercase;}

/* border of td */
#leftareauser .labelcol {border-right:1px dotted #CCCCCC;}

#leftareauser .labelbg	{background-color:#FBFBFB;}






#fillarea 		{margin:0 -25px 20px 5px; padding:10px; background:url(../images/sidebar_bckg.gif) repeat-x; color:#6f6e6e;}
#fillarea h2 	{color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#fillarea .title1{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px; color:#FFFFFF;}
#fillarea .space1{ padding:0px 5px 0px 5px;}
/* border of tr */
#fillarea .list_row_border table td { border-bottom:1px dotted #CCCCCC;}
#fillarea .info_row_border table td { border-bottom:1px dotted #CCCCCC;}
/* head text style*/
#fillarea .rowhead { background-color:#FAFAFA; text-align:center; text-transform:uppercase; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#fe5800; font-size:12px;}
/* odd row background color*/
#fillarea .rowodd { background-color:#FDFDFD;}
/* even row background color*/
#fillarea .roweven { background-color:#FAFAFA;}
/* hightlight row background color */
#fillarea .rowhightlight { background-color:#FFFFFF;}
/* border of td */
#fillarea .data_td_border {border-right:1px dotted #CCCCCC;}
/* text style 1 */
#fillarea .tdleft { padding-left:6px; text-align:left; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333333;}
/* text style 2 */
#fillarea .tdcenter { text-align:center; font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333333;}
/* label style 1 */
#fillarea .labelleft 	{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999; font-weight:bold; padding-left:6px; text-align:left; text-transform:uppercase;}
/* label style 2 */
#fillarea .labelcenter	{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999; font-weight:bold; text-align:center; text-transform:uppercase;}
/* label style 3 */
#fillarea .labelright 	{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#999999; font-weight:bold; padding-right:6px; text-align:right; text-transform:uppercase;}
/* border of td */
#fillarea .labelcol {border-right:1px dotted #CCCCCC;}
#fillarea .labelbg	{background-color:#FBFBFB;}
#fillarea INPUT.textInput1{padding:1px; padding-left:2px; font-family:arial, helvetica, sans-serif;font-size:12px;border:1px solid #9fbad2;background-color:#f2f6fe}






#nav 		{float:left; width:210px; margin-left:5px; padding:10px; background:url(../images/sidebar_bckg.gif) repeat-x;  color:#6f6e6e; }
#nav h2 	{color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#nav .title1{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px; color:#FFFFFF;}

#sidebar 	{float:right; width:200px; padding:10px; background:url(../images/sidebar_bckg.gif) repeat-x; color:#6f6e6e; }
#sidebar h2 {color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}

#mainarea 		{margin:0px 240px 20px 240px; padding:10px; background:url(../images/sidebar_bckg.gif) repeat-x; color:#6f6e6e;}
#mainarea h2 	{color:#fe5800; margin:0 0 15px 0; font-size:14px; font-weight:bold; text-transform:uppercase;}
#mainarea .title1{ font-family:Arial, Helvetica, sans-serif; font-weight:bold; font-size:13px; color:#FFFFFF;}

#footer 				{background:url(../images/footer_bckg.gif) repeat-x #3f3e3e 0 2px; height:50px; margin-top:20px; clear:both;}
#left_footer 			{ float:left; padding:20px 0 0 30px; /*text-transform:uppercase;*/ color:#FFFFFF; font-weight:bold; font-size:11px;}
#left_footer a 			{ color:#FFFFFF;}
#left_footer a:hover 	{ text-decoration:none;}
#right_footer 			{ float:right;  padding:20px 30px 0 0; /*text-transform:uppercase;*/ color:#FFFFFF; font-weight:bold; font-size:11px; text-align:right;}
#right_footer a 		{ color:#FFFFFF;}
#right_footer a:hover 	{ text-decoration:none;}




/* backgroup image of table's title - color cyan */
.cle{width:6px; background-image:url(../images/xp/cle.gif)}
.che{background-image:url(../images/xp/che.gif)}
.cre{width:6px; background-image:url(../images/xp/cre.gif)}

/* backgroup image of table's title - color blue */
.clb{width:6px; background-image:url(../images/xp/clb.gif)}
.chb{background-image:url(../images/xp/chb.gif)}
.crb{width:6px; background-image:url(../images/xp/crb.gif)}

/* backgroup image of table's title - color green */
.clg{width:6px; background-image:url(../images/xp/clg.gif)}
.chg{background-image:url(../images/xp/chg.gif)}
.crg{width:6px; background-image:url(../images/xp/crg.gif)}

/* backgroup image of table's title - color orange */
.clo{width:6px; background-image:url(../images/xp/clo.gif)}
.cho{background-image:url(../images/xp/cho.gif)}
.cro{width:6px; background-image:url(../images/xp/cro.gif)}

/* backgroup image of table's title - color dark */
.cldg{width:6px; background-image:url(../images/xp/cldg.gif)}
.chdg{background-image:url(../images/xp/chdg.gif)}
.crdg{width:6px; background-image:url(../images/xp/crdg.gif)}

/* backgroup image of table's title - color purple */
.clp{width:6px; background-image:url(../images/xp/clp.gif)}
.chp{background-image:url(../images/xp/chp.gif)}
.crp{width:6px; background-image:url(../images/xp/crp.gif)}

/* backgroup image of table's title - color grey */
.cl{width:6px; background-image:url(../images/xp/cl.gif)}
.ch{background-image:url(../images/xp/ch.gif)}
.cr{width:6px; background-image:url(../images/xp/cr.gif)}




/* left border image and right border image of all tables */
.bl{padding-left:6px;background:url(../images/xp/bl.gif) top left repeat-y}
.br{padding-right:6px;background:url(../images/xp/br.gif) top right repeat-y}

/* bottom () images for all tables */
.cfl	{ width:6px; background-image:url(../images/xp/cflFF.gif)}
.cf 	{height:6px; background-image:url(../images/xp/cfFF.gif);}
.cfr	{ width:6px;background-image:url(../images/xp/cfrFF.gif);}



input.loginButton {
	height: 34px;
	width: 71px;
	/*color:#3C5E8E;*/
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	padding-top: 3;
	border: 0;
	/*font:bold;*/
	letter-spacing: 3px;
	background-color: transparent;
	background-image: url(../images/button/short/buttonLoginMediumShort.png);
	background-repeat: no-repeat;
	cursor: hand;
	font-size: 9pt;
}

input.saveButton {
	height: 33px;
	width: 83px;
	/*color:#3C5E8E;*/
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	padding-top: 3;
	border: 0;
	/*font:bold;*/
	letter-spacing: 3px;
	background-color: transparent;
	background-image: url(../images/button/short/blue_save.png);
	background-repeat: no-repeat;
	cursor: hand;
	font-size: 9pt;
}


input.sendButton {
	height: 33px;
	width: 83px;
	/*color:#3C5E8E;*/
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	padding-top: 3;
	border: 0;
	/*font:bold;*/
	letter-spacing: 3px;
	background-color: transparent;
	background-image: url(../images/button/short/blue_send.png);
	background-repeat: no-repeat;
	cursor: hand;
	font-size: 9pt;
}

input.searchButton {
	height: 33px;
	width: 83px;
	/*color:#3C5E8E;*/
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	padding-top: 3;
	border: 0;
	/*font:bold;*/
	letter-spacing: 3px;
	background-color: transparent;
	background-image: url(../images/button/short/blue_search.png);
	background-repeat: no-repeat;
	cursor: hand;
	font-size: 9pt;
}

input.displayButton {
	height: 33px;
	width: 83px;
	/*color:#3C5E8E;*/
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	padding-top: 3;
	border: 0;
	/*font:bold;*/
	letter-spacing: 3px;
	background-color: transparent;
	background-image: url(../images/button/short/blue_display.png);
	background-repeat: no-repeat;
	cursor: hand;
	font-size: 9pt;
}

input.goButton {
	height: 33px;
	width: 83px;
	/*color:#3C5E8E;*/
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	padding-top: 3;
	border: 0;
	/*font:bold;*/
	letter-spacing: 3px;
	background-color: transparent;
	background-image: url(../images/button/short/blue_go.png);
	background-repeat: no-repeat;
	cursor: hand;
	font-size: 9pt;
}


input.blue_addButton {
	height: 33px;
	width: 83px;
	/*color:#3C5E8E;*/
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	padding-top: 3;
	border: 0;
	/*font:bold;*/
	letter-spacing: 3px;
	background-color: transparent;
	background-image: url(../images/button/short/blue_add.png);
	background-repeat: no-repeat;
	cursor: hand;
	font-size: 9pt;
}

input.blue_updateButton{
	height: 33px;
	width: 83px;
	/*color:#3C5E8E;*/
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	padding-top: 3;
	border: 0;
	/*font:bold;*/
	letter-spacing: 3px;
	background-color: transparent;
	background-image: url(../images/button/short/blue_update.png);
	background-repeat: no-repeat;
	cursor: hand;
	font-size: 9pt;
}

input.red_deleteButton {
	height: 33px;
	width: 83px;
	/*color:#3C5E8E;*/
	color: black;
	text-align: center;
	/*text-decoration: underline;*/
	padding-top: 3;
	border: 0;
	/*font:bold;*/
	letter-spacing: 3px;
	background-color: transparent;
	background-image: url(../images/button/short/red_delete.png);
	background-repeat: no-repeat;
	cursor: hand;
	font-size: 9pt;
}

/*
.info_row_border_01 INPUT{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/xp/zoneSearchInput_l.png',sizingMethod='image')}
#rightarea INPUT.textInput1{float:left;width:203px;margin:-2px 1px 3px 0;padding:1px;height:13px}
#rightarea INPUT.textInput1{width:200px;padding:1px;font-family:arial, helvetica, sans-serif;font-size:12px;border:1px solid #9fbad2;background-color:#f2f6fe}
#rightarea INPUT.textInput3{background:#fff;color:#000}
#rightarea INPUT.textInput4{background:url(../images/xp/zoneSearchInput_d.png) left top no-repeat}
#rightarea INPUT.textInput5{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/xp/zoneSearchInput_l.png',sizingMethod='image')}
*/
#rightarea INPUT.textInput1{padding:1px; padding-left:2px; font-family:arial, helvetica, sans-serif;font-size:12px;border:1px solid #9fbad2;background-color:#f2f6fe}

TEXTAREA.desc {
	font-family:arial, helvetica, sans-serif;
	font-size:12px;
	vertical-align: top;
	background-color:#f2f6fe;
	border:1px solid #9fbad2;
	text-align: left;
}




