root { 
    display: block;
}

div.graph{
    position:relative;
    width:100%;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 150px;
}

div.listofbonds{
    padding: 0px 0px 0px 0px;
}

table.graphtable{
    border:solid;
    border-color:black;
    border-width:1px;
    border-collapse:collapse;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 5px 0px;
}

tr.graphtr{
    font-size:12px;
    font-weight:bold;
    height:10px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.graphtd{
    width:20px;
    height:20px;
    background-color:white;
    font-size:14px;
    font-weight:bold;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.graphtdnum{
    width:20px;
    height:20px;
    background-color:white;
    font-size:xx-small;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.graphselectedtd{
    width:20px;
    height:20px;
    background-color:blue;
    color:red;
    font-size:14px;
    font-weight:bold;
    padding: 0px 0px 0px 0px;
}

div.standardusers{
    visibility:hidden;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

div.advancedusers{
    visibility:visible;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

table.advancedusers{
    width:900px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

tr.advancedusers{
    width:100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.advancedusersleft{
    float:left;
    width:250px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.advancedusersright{
    float:left;
    width:600px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color:red;
    font-size:10px;
}

div.readme{
    padding-bottom:40px;
}

div.submit{
    padding-top:40px;
}

table.input{
    margin-left:5px;
    padding: 0px 0px 0px 0px;
    width:900px;
    margin-top:-20px;
}

tr.input{
    width:100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.method{
    font-size:16px;
    font-variant:small-caps;
    font-weight:bold;
    color:#305d71;
    padding-left:350px;
}

label.info{
    font-size:12px;
    font-variant:normal;
    font-weight:normal;
    font-style:italic;
    color:#305d71;
}

td.inputleft{
    float:left;
    width:240px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 4px;
}

td.inputright{
    float:left;
    width:600px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.inputrightresults{
    width:900px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-align:center;
}

div.horizontalmenu{
    font-weight:bold;
}

div.subhorizontalmenu{
    font-weight:bold;
}

table.content{
    margin-left: 70px;
}
table.initialcontent{
    margin-left: 30px;
}
td.justified{
    text-align: justify;
}
td.centered{
    text-align:center;
}
span.title{
    font:18px;
    color:blue;
    padding-right: 10px;
    padding-top: 20px;
}
span.strategiestitle{
    font-size:20px;
    color:red;
    padding-top: 10px;
    font-variant:small-caps;
    font-weight:bold;
}
td.list{
    text-align: left;
    padding-left: 250px;
    font-size:16px;
    font-variant:small-caps;
    color:#445566;
}
li.spacing{
    padding-bottom:5px;
}
p.processing{
    text-align: center;
    font-size: 16px;
    color: red;
    text-transform: uppercase;
}

td.note{
    text-align: justify;
    padding-left:10px;
    color:red;
    font-size:12px;    
}

#readme{
    margin-left:0px;
    margin-top:10px;
    margin-bottom:-10px;
    margin-right:30px;
    text-align:center;
    font-size:13px;
    color:blue;
    font-style:italic;
    font-variant:small-caps;
}

a.alwaysblue{
    color:blue;
}

div.coefassign{
    width: 950px;
}

table.coefassign{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size:13px;
}

tr.results{
    text-align: center;
}

td.bonds{
    width: 80px;
}

td.methods{
    width: 174px;
    text-align: center;
}

label.score{
    float: left;
    font-weight: bold;
    margin-left: 25px;
}

label.coef{
    float: right;    
    font-weight: bold;
    margin-right: 5px;
}

label.bonds{
    text-align: center;
    font-weight: bold;
}

input.score{
    float: left;    
    margin-left: 10px;
}

input.coef{
    float: right;
    margin-right: 10px;
}

label.error{
    color: red;
    font-weight: bold;
    margin-left: 240px;
}
