root { 
    display: block;
}

div.graph{
    position:relative;
    width:100%;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 180px;
}

div.listofbonds{
    padding: 0px 0px 0px 0px;
}

table.graphtable{
    border:solid;
    border-color:black;
    border-width:1px;
    border-collapse:collapse;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

tr.graphtr{
    font-size:12px;
    font-weight:bold;
    height:10px;
    border-collapse:collapse;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.graphtd{
    width:20px;
    height:20px;
    background-color:white;
    font-size:14px;
    font-weight:bold;
    border-collapse:collapse;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.graphselectedtd{
    width:20px;
    height:20px;
    background-color:yellow;
    font-size:14px;
    font-weight:bold;
    padding: 0px 0px 0px 0px;
}

div.standardusers{
    visibility:hidden;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

div.advancedusers{
    visibility:visible;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

table.advancedusers{
    width:100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

tr.advancedusers{
    width:100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.advancedusersleft{
    float:left;
    width:240px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.advancedusersright{
    float:left;
    width:460px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    color:red;
    font-size:10px;
}

table.input{
    margin-left:150px;
    padding: 0px 0px 0px 0px;
}

tr.input{
    width:100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

td.inputleft{
    float:left;
    width:240px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 4px;
}

td.inputright{
    float:left;
    width:460px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
